<div class="d-flex align-items-start">
  <div style="width: 300px" class="p-3 bg-light rounded-3 flex-shrink-0">
    <% if project.owner == current_user %>
      <%= link_to "New category", new_project_category_path(project), class: "w-100 btn btn-primary", data: { "turbo-frame": "project_content" } %>
    <% end %>

    <%= render "shared/categories", project: project %>
  </div>
  <div class="flex-grow-1 mx-3">
    <%= turbo_frame_tag :project_content do %>
      <h1 class="text-center"><%= project.name %></h1>
    <% end %>
  </div>
  <div style="width: 300px" class="p-3 bg-light rounded-3 flex-shrink-0">
    <%= render project %>

    <div class="d-flex justify-content-end">
      <% if policy(project).update? %>
        <%= link_to edit_project_path(project), class: "btn btn-primary me-2" do %>
          Edit
        <% end %>
      <% end %>
      <% if policy(project).destroy? %>
        <%= button_to project, method: :delete, class: "btn btn-danger" do %>
          Destroy
        <% end %>
      <% end %>
    </div>
  </div>
</div>
