<div class="d-flex align-items-start">
  <div style="width: 300px" class="me-3 p-3 bg-light rounded-3">
    <% if project.owner == current_user %>
      <%= link_to "New category", new_project_category_path(project), class: "w-100 btn btn-primary", data: { "turbo-frame": "project_content" } %>
    <% end %>

    <%= render "shared/categories", project: project %>
  </div>
  <div class="flex-grow-1">
    <%= turbo_frame_tag :project_content %>

    <%= render project %>

    <div>
      <% if policy(project).update? %>
      <%= link_to "Edit this project", edit_project_path(project) %> |
      <% end %>
      <%= link_to "Back to projects", projects_path %>

      <% if policy(project).destroy? %>
        <%= button_to project, method: :delete, class: "btn btn-danger mt-3" do %>
          <i class="bi bi-trash3"></i> Destroy
        <% end %>
      <% end %>
    </div>
  </div>
</div>
