<%= form_with(model: [project, category], id: 'category_form') do |form| %>
  <%= render "shared/errors", object: category %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <% if project.categories.root.any? %>
    <div class="mb-3">
      <%= form.label :parent_id, "Parent", class: "form-label" %>
      <%= form.select :parent_id, project.categories.root.pluck(:name, :id), { include_blank: true }, class: "form-control" %>
    </div>
  <% end %>

  <div>
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
